body{
    background-color: wheat;
}

#title{
    color: blue;
    text-align: center;
}

#flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: max-content;
}

#rangeError{
    font-size: 16px;
    display: none;
    color: red;
}

#checkBox{
    margin-top: 35px;
}

.section{
    margin-top: 50px;
    line-height: 5px;
}